{
  "extends": ["standard", "prettier"],
  "plugins": ["standard", "prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "semi": false,
        "singleQuote": true
      }
    ]
  }
}
