{
  "env": {
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "semi": [2, "never"],
    "no-use-before-define": [2, "nofunc"],
    "import/no-extraneous-dependencies": [2, { "devDependencies": true }]
  }
}
